#mann {
    position: relative;
    left: 0px;
    margin-top: 30px;
    margin-left: 00px;
    transition: left .3s;
    transition-property: left;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
}


#leftBox {
    float: left;
    width: 75px;
    overflow: hidden;
}