#mann {
    position: relative;
    left: 0px;
    margin-top: 10px;
    margin-left: 00px;
    transition: left .3s;
    transition-property: left;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
}


#hanging {
    /* float: left; */
    width: 75px;
    overflow: hidden;
    margin-left: 48%;

}


